/* Stylesheet for the application */

body, html {
   margin: 0;
}

.title {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;

}

.headContainer {

    width: 100%;
    height: 16vh;

    display: flex;

    background-color: #55E5F5;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 10vh;
    text-align: center;
}

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    font-weight: bold;
    font-size: 1.2rem;
}
input{
    width: 100%;
    height: 3vh;
    margin-bottom: 6vh;
    border: 2px solid black;
    border-radius: 6px;
}

.formText {
    margin: 10vh;
    display: flex;
    flex-direction: column;

}

.loginForm {
    display: flex;
    width: 24%;
    height: 60vh;
    margin-top: -8vh;
    border: 3px solid;
    border-radius: 20px;
    justify-content: center;

}

.logIndKnap {
    margin-top: 2vh;
    padding: 1vw;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    background-color: lightgreen;
}

.logIndKnap:hover {
    border-bottom: 2px solid;
    border-radius: 10px;
}

.opretKontoTekst {
    margin-left: 3vw;

}

.user-info {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.addWeekContainer {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addWeek {
    font-size: 2.2rem;
    text-align: center;
    border: solid 2px black;
    border-radius: 10px;
}

.addWeek:hover {
    font-size: 2.3rem;
    border: solid 3px black;
}