<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Tilføj uge</title>
</head>
<body>

<h1>Opret madplan</h1>
<form action="/add-week" method="post">
    <label>Ugenummer:
        <input type="number" name="weekNumber" required>
    </label>

    <hr>

    <h3>Mandag</h3>
    Morgenmad: <input name="breakfast1" ><br>
    Frokost: <input name="lunch1" ><br>
    Aftensmad: <input name="dinner1" ><br>

    <h3>Tirsdag</h3>
    Morgenmad: <input name="breakfast2" ><br>
    Frokost: <input name="lunch2" ><br>
    Aftensmad: <input name="dinner2" ><br>

    <h3>Onsdag</h3>
    Morgenmad: <input name="breakfast3" ><br>
    Frokost: <input name="lunch3" ><br>
    Aftensmad: <input name="dinner3" ><br>

    <h3>Torsdag</h3>
    Morgenmad: <input name="breakfast4" ><br>
    Frokost: <input name="lunch4" ><br>
    Aftensmad: <input name="dinner4" ><br>

    <h3>Fredag</h3>
    Morgenmad: <input name="breakfast5" ><br>
    Frokost: <input name="lunch5" ><br>
    Aftensmad: <input name="dinner5" ><br>

    <h3>Lørdag</h3>
    Morgenmad: <input name="breakfast6" ><br>
    Frokost: <input name="lunch6" ><br>
    Aftensmad: <input name="dinner6" ><br>

    <h3>Søndag</h3>
    Morgenmad: <input name="breakfast7" ><br>
    Frokost: <input name="lunch7" ><br>
    Aftensmad: <input name="dinner7" ><br>


    <br>
    <button type="submit">Gem uge</button>
    <input type="hidden" name="user_id" th:value="${session.currentUser.userId}"/>
</form>

</body>
</html>
