<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Newsletters</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<head>
    <div class="headContainer">
        <h1 class="title">Mad Kalenderen</h1>
    </div>
</head>

<body>

<h1 class="login">Login</h1>
<div class="loginContainer">
<div class="loginForm">
    <form action="index" method="post">
        <div class="formText">
        <label for="username">Brugernavn</label>
        <input type="text" id="username" placeholder="Brugernavn" name="username"/>

        <label for="password">Adgangskode</label>
        <input type="password" id="password" placeholder="Adgangskode" name="password"/>



            <button class="logIndKnap" type="submit">Log Ind</button>
        </div>
        <p class="opretKontoTekst">Har du ikke en bruger? <a th:href="@{createAccount}"><u>Opret bruger</u></a></p>
    </form>

</div>
</div>
</body>
</html>
