<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Newsletters</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
    <div class="headContainer">
        <h1 class="title">Mad Kalenderen</h1>
    </div>


    <!-- Bruger info -->
    <div class="user-info" th:if="${session.currentUser != null}">
        <span th:text="${session.currentUser.username}"></span>
    </div>

</body>
</html>